* {
    margin: 0px;
    padding: 0px;
}
.h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0px;
    padding: 0px;
}
header {
    background-image: url("../Images/Banar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.54);
}
.navbar {
    background-color: rgba(0, 0, 0, 0.54);
    padding: 40px 0px;
}
.nav-link {
    margin-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Raleway, sans-serif;
    color: rgb(255, 255, 255) !important;
}
.nav-link:hover{
    color: #e59205 !important;
}
.Nav-content {
    min-height: 120vh;
    justify-content: center;
    text-align: center;
}
.logo {
    width: 150px;
    margin: 0px 40px;
}
.Nav-content h1 {
    text-transform: none;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 800;
    font-family: "Playfair Display";
}
.Nav-content span {
    color: rgb(229, 146, 5);
}
.Nav-content p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Raleway, sans-serif;
    line-height: 2;
}
.btn-learn-more {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
    color: rgb(255, 255, 255);
    padding: 4px 25px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}
.btn-learn-more:hover {
    background-color: rgb(229, 146, 4) !important;
    color: rgb(255, 255, 255) !important;
}
.dropdown-menu ul li a {
    text-transform: uppercase;
}
/*  Food-Items*/
.Food-Items {
    font-family: "Playfair Display";
}
.Horizontal-line h1 {
    font-style: italic;
    position: relative;
    color: rgb(110, 116, 152);
    font-family: "Playfair Display";
}
.Horizontal-line h1::after {
    content: "";
    background-color: rgb(229, 146, 4);
    position: absolute;
    width: 150px;
    height: 1px;
    left: -70px;
    top: 57%;
    transform: translate(-57%);
}
.Horizontal-line h1::before {
    content: "";
    background-color: rgb(229, 146, 4);
    position: absolute;
    width: 150px;
    height: 1px;
    right: -240px;
    top: 57%;
    transform: translate(-57%);
}
.raper p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    line-height: 2;
    color: rgb(110, 116, 152);
}
.btn-fooditems {
    color: rgb(110, 116, 152);
    margin-right: 30px;
    width: 110px;
    height: 37px;
    border-radius: 0px;
    font-family: "Bebas Neue", sans-serif;
    border: 1px solid rgb(110, 116, 152) !important;
}
.btn-fooditems:hover {
    background-color: rgb(229, 146, 5) !important;
    color: rgb(255, 255, 255) !important;
}
/* Food Manu  */
.col img {
    height: 200px;
    border: 11px solid rgb(248, 249, 250);
    margin: 30px 0px;
}
.btn-primary {
    --bs-btn-color: #6e7498;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #6e7498;
    --bs-btn-hover-bg: #e59205;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 0px;
    height: 36px;
    width: 130px;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-active-bg: #6e7498;
    --bs-btn-disabled-bg: #6e7498;
    --bs-btn-disabled-border-color: #6e7498;
}
.Collap {
    padding-bottom: 10px;
}
.card-body {
    padding-bottom: 10px;
}
.card-body h1 {
    font-size: 50px;
    color: rgb(229, 146, 5);
    font-family: "Playfair Display";
}
.card-body h5 {
    font-size: 18px;
    padding: 20px 0px;
    color: #6e7498;
    font-family: 'Raleway', sans-serif;
}
.card-body p {
    font-size: 11px;
    line-height: 25px;
    color: rgb(110, 116, 152);
    text-align: center;
    font-family: Raleway, sans-serif;
    padding-bottom: 15px;
}
.btn-order {
    text-transform: uppercase;
    border: 1px solid;
    color: rgb(110, 116, 152);
    background-color: rgba(110, 116, 152, 0.047);
    font-family: "Bebas Neue", sans-serif;
    margin: 7px 20px;
    border-radius: 1px;
}
.btn-order:hover {
    background-color: rgba(110, 116, 152, 0.24) !important;
}
/* our breakfast */
.breakfast {
    padding: 30px 0px;
}
.Offer {
    background-color: rgb(229, 146, 5);
    position: relative;
}
.offer-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.offer-text h2 {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 38px;
    font-family: "Playfair Display";
}
/* Lorem ipsum dolor sit amet */
.items {
    padding-bottom: 40px;
}
.items h4 {
    font-size: 18px;
    padding: 20px 0px;
    font-weight: 700;
    color: rgb(110, 116, 152);
    font-family: 'Playfair Display';
}
.items p {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 6px;
    color: rgb(171, 174, 193);
    line-height: 2.5;
}
.btn-learn {
    color: rgb(110, 116, 152);
    border-color: rgb(110, 116, 152);
    font-family: "Playfair Display";
    font-size: 15px;
    font-weight: 500;
    border-radius: 0px;
}
.btn-learn:hover {
    background-color: rgb(229, 146, 5) !important;
}
/* newsletter */
.newsletter {
    background-image: url("../Images/Footer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}
.newsletter-Item h1 {
    font-size: 40px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0px;
    font-family: "Playfair Display";
}
.newsletter-Item input {
    text-align: center;
    width: 80%;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 8px 0px;
    background-color: transparent;
    font-family: "Playfair Display";
}
.newsletter-Item input::placeholder {
    color: rgb(255, 255, 255);
}
.Send-email {
    padding-top: 30px;
    text-align: center;
}
.btn-SEND {
    background-color: rgb(229, 146, 4);
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 25px;
    border-radius: 0px;
}
.btn-SEND:hover {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}
.Copyright p {
    color: rgb(110, 116, 152);
    font-family: Raleway, sans-serif;
    font-size: 14px;
}
.manu {
    justify-content: space-between;
}
.manu ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.manu ul li a {
    text-decoration: none;
    color: rgb(110, 116, 152);
    margin-right: 20px;
    font-family: Raleway, sans-serif;
    font-size: 14px;
}
.manu a:hover {
    color: rgb(229, 146, 4);
}
